.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    min-height: 100vh;
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.heading {
    padding: 2rem 6rem;
}

.div_main {
    background-color: #80808021;
}

.table_heading {
    font-weight: 700 !important;
}

.example2_link {
    float: right;
}